# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\PROIECTE\MySQL-DB-Merger\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
